/*  your css code here. If applicable */
/* styles.css */

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid-container {
  width: 80%;
  margin-bottom: 20px;
}

.player-container {
  display: none; /* Initially hidden */
}

.sound-picker {
  margin-bottom: 20px;
}

.time-select {
  margin-bottom: 20px;
}

.time-display {
  font-size: 24px;
  margin-bottom: 20px;
}

.play {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}
